<div class="container">
    <h1 class="pull-left">Badminton</h1>
    <ul class="pull-right breadcrumb">
        <li><a href="#/portail">Portail</a></li>
        <li class="active">Badminton</li>
    </ul>
</div>
<div>
    <table>
        <thead>
        <tr>
            <th>Jour</th>
            <th>Créneau</th>
            <th>Terrain</th>
            <th>Payeur</th>
            <th>Joueurs</th>
        </tr>
        </thead>
        <tbody ng-repeat="reservation in reservations">
        <td>{{ reservation.jour }}</td>
        <td>{{ reservation.creneau }}</td>
        <td>{{ reservation.terrain }}</td>
        <td>{{ reservation.payeur }}</td>
        <td>{{ reservation.joueurs }}</td>
        </tbody>
    </table>
</div>