<div class="container">
    <div class="reg-block">
        <div class="alert alert-danger" ng-show="authenticationError">
            <span class="icon-warning-sign"></span>
            <strong>Échec de l'authentification</strong><br/>
            Merci de renseigner votre nom d'utilisateur et mot de passe Sopra Group
        </div>
        <div class="reg-block-header">
            <h2>Connexion à j2utils</h2>
            <ul class="list-inline style-icons text-center">
                <li><a href="mailto:jocelyn.ntakpe@sopragroup.com">
                    <i class="icon-envelope icon-round icon-round-sm icon-color-grey"></i></a>
                </li>
                <li><a href="https://github.com/jntakpe"><i class="icon-github icon-round icon-round-sm icon-color-grey"></i></a></li>
                <li><a href="https://twitter.com/jntakpe"><i class="icon-twitter icon-round icon-round-sm icon-color-grey"></i></a></li>
            </ul>
        </div>

        <div class="input-group margin-bottom-20">
            <span class="input-group-addon"><i class="icon-user"></i></span>
            <input type="text" placeholder="Nom d'utilisateur Sopra" class="form-control" ng-model="username">
        </div>
        <div class="input-group margin-bottom-20">
            <span class="input-group-addon"><i class="icon-lock"></i></span>
            <input type="text" placeholder="Mot de passe Sopra" class="form-control" ng-model="password">
        </div>
        <hr>
        <div class="row">
            <div class="col-md-offset-4">
                <label class="checkbox"><input type="checkbox" ng-model="rememberMe" checked> Rester connecté</label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <button class="btn-u btn-block" type="submit" ng-click="login()">
                    <i class="icon-signin"></i> Connexion
                </button>
            </div>
        </div>
    </div>
</div>